@model List<GetAppUserByPropertyIdDTO>

<div class="sidebar-side col-lg-4 col-md-12 col-sm-12 mt-lg-0 mt-5">
    <aside class="sidebar">
        <div class="sidebar-widget popular-posts">
            <div class="sidebar-title">
                <h4>Emlakçı İletişim Bilgileri</h4>
            </div>

            @if (Model != null && Model.Any())
            {
                var firstItem = Model.First(); // İlk ilanı al
                <article class="post">
                    <figure class="post-thumb">
                        <img src="@firstItem.UserImageUrl" style="width:100px; height:100px" class="radius-image" alt="">
                    </figure>
                    <div class="text mb-0">
                        <a href="#blog-single">
                            @firstItem.Name
                        </a>
                        <div class="post-info">@firstItem.PhoneNumber</div>
                        <div class="post-info">@firstItem.Email</div>
                    </div>
                </article>
                <button type="button" class="btn btn-primary btn-style w-100">Detaylı İletişim Bilgileri</button>
            }
        </div>

        <div class="sidebar-widget popular-posts">
            <div class="sidebar-title">
                <h4>Emlakçıya Ait Diğer İlanlar</h4>
            </div>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <article class="post">
                        <figure class="post-thumb">
                            <img src="@item.CoverImage" class="radius-image" alt="" style="height:70px">
                        </figure>
                        <div class="text">
                            <a href="/Property/PropertySingle/@item.PropertyId">
                                @item.Title
                            </a>
                            <div class="post-info">@item.AdvertisementDate.ToString("MMM dd, yyyy")</div>
                        </div>
                    </article>
                }
            }
            else
            {
                <p>Bu emlakçıya ait ilan bulunmamaktadır.</p>
            }
        </div>
    </aside>
</div>
