@model List<ResultPropertyDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int totalCount = ViewBag.TotalCount ?? 0; // Toplam ilan sayısı
    int currentPage = ViewBag.CurrentPage ?? 1; // Mevcut sayfa
    int pageSize = ViewBag.PageSize ?? 10; // Sayfa boyutu
    int totalPages = (int)Math.Ceiling((double)totalCount / pageSize); // Toplam sayfa sayısı
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">İlan Listesi</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">İlan Başlığı</th>
                                <th scope="col">Şehir</th>
                                <th scope="col">İlçe</th>
                                <th scope="col">Kategori</th>
                                <th scope="col">Fiyat</th>
                                <th scope="col">Tür</th>
                                <th scope="col">Sil</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sitede Gör</th>
                                <th scope="col">Günün Fırsatı</th>
                                <th scope="col">Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                var item = Model[i];
                                <tr>
                                    <th scope="row">@((currentPage - 1) * pageSize + i + 1)</th>
                                    <td>@item.title</td>
                                    <td>@item.city</td>
                                    <td>@item.district</td>
                                    <td>@item.categoryName</td>
                                    <td>@item.price</td>
                                    <td>@item.type</td>
                                    <td><a href="/Product/DeleteProduct/@item.PropertyID" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/Product/UpdateProduct/@item.PropertyID" class="btn btn-outline-success">Güncelle</a></td>
                                    <td><a href="/Property/PropertyDetail/@item.PropertyID" class="btn btn-outline-info">Sitede Gör</a></td>
                                    <td>
                                        @if (item.dealOfTheDay)
                                        {
                                            <a href="/Product/ProductDealOfTheDayStatusChangeToFalse/@item.PropertyID" class="btn btn-outline-secondary">Pasif Yap</a>
                                        }
                                        else
                                        {
                                            <a href="/Product/ProductDealOfTheDayStatusChangeToTrue/@item.PropertyID" class="btn btn-outline-warning">Aktif Yap</a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.PropertyStatus)
                                        {
                                            <a href="/Product/ChangePassive/@item.PropertyID" class="btn btn-outline-success">İlan Çıkar</a>
                                        }
                                        else
                                        {
                                            <a href="/Product/ChangeActive/@item.PropertyID" class="btn btn-outline-danger">İlana Al</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- Sayfalama Linkleri -->
                    <nav aria-label="Page navigation">                        
                        <ul class="pagination">
                            <a href="/Product/CreateProduct" class="btn btn-outline-info">Yeni İlan Girişi</a>
                            @for (int i = 1; i <= totalPages; i++)
                            {
                                <li style="position:relative;left:80%" class="page-item @(i == currentPage ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                </li>
                            }
                        </ul>
                    </nav>                                       
                </div>
            </div>
        </div>
    </div>
</div>
